@{
    ViewBag.Title = "Submit Claim";
}

<h2>Submit Monthly Claim</h2>

<form>
    <label>Hours Worked:</label>
    <input type="number" /><br /><br />

    <label>Hourly Rate:</label>
    <input type="number" /><br /><br />

    <label>Upload Document:</label>
    <input type="file" /><br /><br />

    <button type="submit">Submit Claim</button>
</form>
