@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard - My Claims</h2>

<a href="/Home/ClaimForm">Submit New Claim</a> | <a href="/Home/Login">Logout</a>

<table border="1" style="margin-top:15px; width:80%;">
    <tr>
        <th>Claim ID</th>
        <th>Date Submitted</th>
        <th>Hours Worked</th>
        <th>Rate</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2025-09-15</td>
        <td>20</td>
        <td>R200</td>
        <td>R4000</td>
        <td>Submitted</td>
    </tr>
</table>
